<%- include('./partials/header.ejs') %>
<h1>Top Throws</h1>

<div>
    <span>sort by: </span>
    <a>Mixed</a>
    <a>Female</a>
    <a>Male</a>
</div>
<div>
    <ul>
        <% let counter = 1; %>
        <% users.forEach(function(row) {%>
            <li><%= counter %>. <%= row.first_name %> <%= row.last_name %>: <%= row.max_throw_speed_kmh %> km/h</li>
            <% counter++; %>
        <% }); %>
    </ul>
</div>
<%- include('./partials/footer.ejs') %>