<%- include('./partials/header.ejs') %>
<div>
    <ul>
        <% users.forEach(function(row) {%>
            <li><%= row.first_name %> <%= row.last_name %>: <%= row.throw_speed_kmh %></li>
        <% }); %>
    </ul>
</div>
<%- include('./partials/footer.ejs') %>