<%- include('./partials/header.ejs') %>
<h1>Top Throws</h1>

<div>
    <span>sort by: </span>
    <a>Mixed</a>
    <a>Female</a>
    <a>Male</a>
</div>
<div>
    <table>
        <tr>
            <td class="rank" style="width: 20%;">Rank</td>
            <td>Name</td>
            <td style="width: 30%;">Throwing Speed (km/h)</td>
        </tr>
        
        <% let counter = 1; %>
        <% users.forEach(function(row) { %>
            <tr>
                <td class="rank"><%= counter %></td>
                <td><%= row.first_name %> <%= row.last_name %></td>
                <td><%= row.max_throw_speed_kmh %></td>
            </tr>
            <% counter++; %>
        <% }) %>
    </table>
</div>
<%- include('./partials/footer.ejs') %>