<%- include('./partials/header.ejs') %>
<%- include('./partials/navigationbar.ejs') %>
<link rel="stylesheet" href="./styles/main.css">


<header id="header">
    <h1>Top Throwing Speeds</h1>
</header>

<div class="content">
    <div id="filter-by-sex">
        <button onclick="fetchResults('all'); highlightButton(this, '#filter-by-sex')">All</button>
        <button onclick="fetchResults('female'); highlightButton(this, '#filter-by-sex')">Female</button>
        <button onclick="fetchResults('male'); highlightButton(this, '#filter-by-sex')">Male</button>
        <button id="typeButton" onclick="cycleType()">Type</button>
    </div>
    <div id="ladder-results">
        <!-- Filtered results will appear here -->
        <table>
            <thead>
                <tr>
                    <td class="rank">Rank</td>
                    <td class="name">Name</td>
                    <td class="type">Type</td>
                    <td class="velo">Velocity</td>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1; %>
                <% users.forEach(function(row) { %>
                    <tr>
                        <td><%= counter %></td>
                        <td><%= row.first_name %> <%= row.last_name %></td>
                        <td><%= row.throw_type %></td>
                        <td><%= row.throw_speed %></td>
                    </tr>
                    <% counter++; %>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script src="/scripts/main.js"></script>
<%- include('./partials/footer.ejs') %>