<%- include('./partials/header.ejs') %>
<div class="content">
    <div id="filter-by-sex">
        <p>Filter By: </p>
        <button onclick="fetchResults('any')">All</button>
        <button onclick="fetchResults('female')">Female</button>
        <button onclick="fetchResults('male')">Male</button>
    </div>
    <div id="ladder-results">
        <!-- Filtered results will appear here -->
        <table>
            <thead>
                <tr>
                    <td class="rank">Rank</td>
                    <td>Name</td>
                    <td>Throw type</td>
                    <td class="velocity">Velocity</td>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1; %>
                <% users.forEach(function(row) { %>
                    <tr>
                        <td class="rank"><%= counter %></td>
                        <td><%= row.first_name %> <%= row.last_name %></td>
                        <td><%= row.throw_type %></td>
                        <td><%= row.throw_speed %></td>
                    </tr>
                    <% counter++; %>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include('./partials/footer.ejs') %>